.badge {
  display: inline-block;
  padding: em(4, 16) em(14, 16);
  margin-bottom: rem(8);
  background-color: var(--clr-badge-back-default);
  
  color: var(--clr-badge-text-dark);
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;

  border-radius: 4px;

  &--success {
    background-color: var(--clr-badge-success);
    color: var(--clr-badge-text-light);
  }
}