.bestseller {
  padding-bottom: rem(100);
  
  &__heading {
    @include media("sm") {
      margin-top: 0;
      margin-bottom: rem(16);
      text-align: center;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
    gap: rem(48) rem(24);

    @include media("md") {
      .card {
        min-width: var(--card-mini-width);
      } 
      gap: rem(16) rem(8);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media("sm") {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
}