.btn {
  background-color: var(--clr-btn-primary);
  border: 1px solid var(--clr-btn-primary);
  color: var(--clr-text-light);
  padding: em(12) em(56);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in;

  &:hover {
    border: 1px solid var(--clr-btn-primary);
    background-color: transparent;
    color: var(--clr-btn-primary);
  }

  &:active {
    opacity: .5;
  }

  &:focus-visible {
    outline: 2px solid var(--clr-btn-focus-light);
  }

  &--m {
    padding: em(12, 18) em(56, 18);
    font-size: rem(18);
    font-weight: 500;
    line-height: lh(32, 18);
  }

  &--s {
    padding: em(6) em(40);
    font-size: rem(16);
    font-weight: 500;
    line-height: lh(28, 16);
  }

  &--to-cart {
    width: 100%;
    @include media("sm") {
      padding: em(6, 12) em(20, 12);
      font-size: rem(12);
      font-weight: 500;
      line-height: lh(28, 12);
    }
  }
}

.btn-txt {
  color: var(--clr-neutral-07);
  all: unset;
  cursor: pointer;
  border-bottom: 1px solid var(--clr-neutral-07);

  &--s {
    font-size: rem(16);
    line-height: lh(28, 16);
    font-weight: 500;
    letter-spacing: -0.4px;
  }

  &--with-icon {
    display: flex;
    align-items: center;
    gap: rem(4);

    .svg-icons--arrow-right-dims {
      stroke: var(--clr-neutral-07);
    }
  }
}