.card {

  min-width: rem(262);
  display: flex;
  flex-direction: column;

  img {
    object-fit: cover;
    aspect-ratio: 262 / 349;
  }


  &__image-wrap {
    position: relative;
    margin-bottom: rem(12);
  }

  &__row {
    display: flex;
    justify-content: end;
  }

  &__badges {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    opacity: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity .05s ease-in;

    &:hover {
      opacity: 1;
    }
  }

  &__like {
    border-radius: 50%;
    width: rem(40);
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-card-like-back);
    border: none;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
    cursor: pointer;
  }

  &__rating {
    // margin-bottom: rem(4);
  }

  &__title {
    // margin-bottom: rem(4);

    a {
      font-weight: 600;
      font-size: 1rem;
      line-height: lh(26, 16);
      text-decoration: none;
      color: var(--clr-card-text);
    }
  }

  &__brand {
    // margin-bottom: rem(4);
    font-weight: 600;
    font-size: 1rem;
    line-height: lh(26, 16);
    color: var(--clr-card-text);
  }

  &__price {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;

    font-weight: 600;
    font-size: rem(14);
    line-height: lh(22, 14);
    color: var(--clr-card-text);
  }
}