.dots {
  display: flex;
  column-gap: rem(12);

  &--clickable {
    .dots__dot {
      cursor: pointer;
    }
  }

  &__dot {
    width: rem(14);
    height: rem(14);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: all 0.05s ease-in;

    &::before {
      display: block;
      content: "";
      width: rem(8);
      height: rem(8);
      background-color: var(--clr-dots-inactive-back);
      border-radius: 50%;
    }

    &--active {
      height: rem(14);
      width: rem(14);
      border: 1px solid var(--clr-dots-active);
      &::before {
        background-color: var(--clr-dots-active);
      }
    }
  }
}