.footer {
  color: var(--clr-white);

  &__back {
    background-color: var(--clr-footer-back);
    padding: rem(80) 0 rem(32);

    @include media("md") {
      padding: rem(48) 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &:first-child {
      margin-bottom: rem(50);

      @include media("md") {
        flex-direction: column;
        gap: rem(40);
        margin-bottom: rem(40);
      }
    }

    &--bottom {
      border-top: 0.5px solid var(--clr-neutral-04);
      min-height: rem(56);

      @include media("md") {
        padding-top: rem(24);
        padding-bottom: rem(24);
        flex-direction: column-reverse;
        gap: rem(35);
        min-height: 100%;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: rem(32);

    span {
      color: var(--clr-neutral-04);
    }

    @include media("md") {
      flex-direction: column;
      gap: rem(16);
    }
  }

  &__logo-link {
    color: var(--clr-white);
    text-decoration: none;
    font-size: rem(14);
    line-height: lh(22, 14);
    font-weight: 400;
  }

  &__header-logo {
    margin: 0;
    font-family: var(--font-accent);
    font-size: rem(24);
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.4px;
  }

  &__subheader {
    margin: 0;
    font-size: rem(14);
    line-height: lh(22, 14);
    font-weight: 400;
    color: var(--clr-specific-text);
  }

  &__vr {
    width: rem(22);
    margin: 0;
    padding: 0;
    transform: rotate(90deg);
    border: none;
    border: 1px solid var(--clr-neutral-04);

    @include media("md") {
      transform: none;
    }
  }

  &__list {
    all: unset;
    list-style: none;
    display: flex;
    column-gap: rem(40);
    flex-wrap: wrap;

    @include media("md") {
      flex-direction: column;
      gap: rem(32);
      text-align: center;
    }
  }

  &__list-link {
    color: var(--clr-white);
    text-decoration: none;
  }

  &__copyright {
    display: flex;
    column-gap: rem(28);

    p {
      margin: 0;
    }

    @include media("md") {
      flex-direction: column-reverse;
      text-align: center;
      row-gap: rem(28);
    }

    &-deal {
      display: inline-flex;
      column-gap: rem(28);
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__copyright-rights {
    color: var(--clr-specific-text);
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: rem(12);
    line-height: lh(20, 12);
  }

  &__copyright-link {
    color: var(--clr-white);
    text-decoration: none;
    font-family: var(--font-accent);
    font-weight: 600;
    font-size: rem(12);
    line-height: lh(20, 12);
  }

  &__social {
    display: flex;
    column-gap: rem(24);
  }

  &__icon {
    width: rem(48);
    height: rem(48);
    fill: none;
  }

  .svg-socials--facebook-dims {
    stroke: var(--clr-white);
  }

  .svg-socials--youtube-dims {
    stroke: var(--clr-white);
  }
}