.hero {
  background-image: image-set(url("../img/hero/bg.webp") type("image/webp") 1x,
      url("../img/hero/bg@2x.webp") type("image/webp") 2x,
      url("../img/hero/bg.jpg") type("image/jpeg") 1x,
      url("../img/hero/bg@2x.jpg") type("image/jpeg") 2x);
  background-position: top center;
  background-repeat: no-repeat;

  &__container {
    padding-top: rem(50);
    padding-bottom: rem(50);
    display: flex;
    align-items: center;
    min-height: rem(500);
    @include media("sm") {
      padding-top: 0;
      padding-bottom: 0;
      align-items: flex-start;
      min-height: rem(700);
    }
  }

  &__content {
    margin-left: 50%;
    @include media("sm") {
      padding-top: rem(40);
      margin-left: 0;
      text-align: center;
    }
  }

  &__heading {
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: rem(100);
    line-height: lh(84, 100);
    margin-top: 0;
    margin-bottom: rem(8);

    &--accent {
      color: var(--clr-heading-accent);
    }

    @include media("xl") {
      font-size: rem(80);
      line-height: lh(84, 80);
    }
    @include media("sm") {
      font-size: rem(50);
      line-height: lh(54, 50);
    }

  }

  &__text {
    font-weight: 400;
    font-size: rem(20);
    line-height: lh(32, 20);
    margin-top: 0;
    margin-bottom: rem(28);
    text-wrap: balance;

    @include media("sm") {
      font-size: rem(16);
      line-height: lh(26, 16);
      margin-bottom: rem(8);
    }
  }

  @include media("sm") {
    background-image: image-set(url("../img/hero/bg-mobile.webp") type("image/webp") 1x,
        url("../img/hero/bg-mobile@2x.webp") type("image/webp") 2x,
        url("../img/hero/bg-mobile.jpg") type("image/jpeg") 1x,
        url("../img/hero/bg-mobile@2x.jpg") type("image/jpeg") 2x);
  }
}