.main-nav {
  background-color: var(--clr-main-nav-back);
  padding: rem(16) 0;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-family: var(--font-accent);
    font-size: rem(24);
    line-height: lh(24, 24);
    font-weight: 500;

    a {
      color: var(--clr-main-nav-text-dark);
      text-decoration: none;
    }

    @include media("sm") {
      font-size: rem(16);
      line-height: lh(24, 16);
      font-weight: 500;
    }
  }

  &__hamburger {
    height: rem(24);
    stroke: var(--clr-primary);
    margin-right: rem(4);

    &-btn {
      all: unset;
      display: revert;
      border-radius: 50%;
      height: rem(24);
      width: rem(24);
      transition: background-color .1s ease-in;

      &:active {
        background-color: var(--clr-main-nav-hamburger-active);
      }
    }
  }

  &__list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: rem(40);
  }

  &__list-item {
    height: rem(24);
    display: flex;
    align-items: center;

    &--has-children a::after {
      max-height: rem(24);
      display: inline-block;
      transform: translateY(rem(4));
      content: url("../img/svg/icons/chevron-down.svg");
    }
  }

  &__list-link {
    height: rem(24);
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: rem(14);
    line-height: lh(24, 14);
    color: var(--clr-main-nav-text-dark);
    text-decoration: none;
    white-space: nowrap;
  }

  &__list-button {
    all: unset;
    display: revert;
    cursor: revert;
    height: rem(24);
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: rem(14);
    line-height: lh(24, 14);
    color: var(--clr-main-nav-text-dark);
    text-decoration: none;
    white-space: nowrap;
  }

  &__user-links {
    margin: 0;
    display: flex;
    align-items: center;
    gap: rem(18);
    list-style: none;
  }

  &__user-links-item {
    max-height: rem(24);

    button {
      all: unset;
      display: revert;
      cursor: pointer;
      height: rem(24);
    }
  }

  &__user-cart {
    display: flex;
    align-items: center;
    gap: rem(5);
  }

  &__badge {
    font-weight: bold;
    text-align: center;
    font-size: rem(12);
    line-height: lh(10, 12);
    color: var(--clr-secondary-orange);
    background-color: var(--clr-main-nav-badge-back);
    padding: .5em;
    border-radius: 50%;
    min-width: em(24, 12);
    min-height: em(24, 12);
  }

  &__user-button {
    all: unset;
    display: revert;
    cursor: pointer;
    max-height: rem(24);
  }
}