.menu-mobile {

  // Overlay hidden
  &[aria-hidden="true"] .menu-mobile__overlay {
    visibility: hidden;
    opacity: 0;
  }

  &[aria-hidden="true"] .menu-mobile__container {
    transform: translateX(-100%);
  }
  
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__close {
    all: unset;
    display: revert;
    width: rem(24);
    height: rem(24);
    stroke: var(--clr-menu-mobile-close);
  }

  &__container {
    min-height: 100%;
    padding: rem(24); // prevent margin squash
    background-color: white;
    margin-right: 10vw;

    transition: transform .2s ease-in;
  }

  &__overlay {
    position: fixed;
    background-color: rgba(128, 128, 128, .9);
    inset: 0;
    z-index: 10;

    overflow-y: scroll;
    overscroll-behavior: contain;

    transition: opacity .2s ease-in, visibility .2s ease-in;
  }
}