.svg-icons--arrow-right-dims {
  width: 24px;
  height: 24px;
}

.svg-icons--arrow-right-black-dims {
  width: 20px;
  height: 20px;
}

.svg-icons--cart-dims {
  width: rem(24);
  height: rem(24);
  stroke: var(--clr-icons-black);
  fill: none;
}

.svg-icons--chevron-down-dims {
  width: 19px;
  height: 18px;
}

.svg-icons--close-dims {
  width: 24px;
  height: 24px;
}

.svg-icons--close-nav-dims {
  width: 24px;
  height: 24px;
}

.svg-icons--email-dims {
  width: 24px;
  height: 24px;
}

.svg-icons--fav-dims {
  width: 24px;
  height: 24px;
  fill: var(--clr-card-like-stroke);
}

.svg-icons--fav-full-dims {
  width: 24px;
  height: 20px;
  fill: var(--clr-card-like-fill);
}

.svg-icons--heart-dims {
  width: 23.04px;
  height: 24px;
}

.svg-icons--menu-dims {
  width: 24px;
  height: 24px;
}

.svg-icons--search-dims {
  width: rem(24);
  height: rem(24);
  stroke: var(--clr-icons-black);
  fill: none;
}

.svg-icons--star-dims {
  width: 16px;
  height: 16px;
}

.svg-icons--ticket-percent-dims {
  fill: white;
  width: rem(24);
  height: rem(24);
}

.svg-icons--user-dims {
  width: rem(24);
  height: rem(24);
  stroke: var(--clr-icons-black);
  fill: none;
}

.svg-socials--facebook-dims {
  width: 24px;
  height: 24px;
}

.svg-socials--instagram-dims {
  stroke: white;
  width: rem(24);
  height: rem(24);
}

.svg-socials--youtube-dims {
  width: 24px;
  height: 24px;
}

.svg-socials-black--facebook-dims {
  width: 24px;
  height: 24px;
}

.svg-socials-black--instagram-dims {
  width: 24px;
  height: 24px;
}

.svg-socials-black--youtube-dims {
  width: 24px;
  height: 24px;
}

.svg-values--call-dims {
  width: 24px;
  height: 24px;
}

.svg-values--finance-dims {
  width: 24px;
  height: 24px;
}

.svg-values--lock-dims {
  width: 24px;
  height: 24px;
}

.svg-values--shipping-dims {
  width: 24px;
  height: 24px;
}