.values {
  display: flex;
  padding: rem(40) 0;
  flex-wrap: wrap;
  gap: rem(24);

  @include media("md") {
    padding: rem(32) 0;
    gap: rem(8);
  }

  &__item {
    flex: 1 rem(262);
    padding: rem(48) rem(32); 
    background-color: var(--clr-values-back);

    @include media("sm") {
      flex: 1 rem(150);
      padding: rem(32) rem(16);
    }
  }

  &__heading {
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: rem(20);
    line-height: lh(28, 20);
    color: var(--clr-values-heading);
    margin-top: 0;
    margin-bottom: rem(8);

    @include media("sm") {
      font-family: var(--font-main);
      font-size: rem(14);
      line-height: lh(22, 14);
      font-weight: 600;
    }
  }

  &__text {
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: rem(14);
    line-height: lh(24, 14);
    color: var(--clr-values-subheading);
    margin-top: 0;
    margin-bottom: 0;

    @include media("sm") {
      font-family: var(--font-accent);
      line-height: lh(22, 14);
    }
  }

  &__icon {
    fill: none;
    stroke: var(--clr-values-icon-stroke);
    width: rem(48);
    height: rem(48);
    margin-bottom: rem(16);
  }
}