.values {
  padding: rem(40) 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(rem(152), auto));
  gap: rem(24);

  @media (max-width: 900px) {
    padding: rem(32) 0;
    grid-template-columns: repeat(auto-fit, minmax(rem(152), 1fr));
    gap: rem(8);
  }

  &__item {
    padding: rem(54) rem(36) rem(48) rem(36); 
    background-color: var(--clr-values-back);
    min-width: rem(262);

    @media (max-width: 900px) {
      padding: rem(32) rem(16);
      min-width: rem(152);
    }
  }

  &__heading {
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: rem(20);
    line-height: lh(28, 20);
    color: var(--clr-values-heading);
  }

  &__subheading {
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: rem(14);
    line-height: lh(24, 14);
    color: var(--clr-values-subheading);
  }

  &__icon {
    fill: none;
    stroke: var(--clr-values-icon-stroke);
    width: rem(48);
    height: rem(48);
  }
}