<section class="arrivals">
  <div class="arrivals__row container">
    <h2 class="arrivals__header">Новые поступления</h2>
    <div class="dots">
      <span class="dots__dot dots__dot--active"></span>
      <span class="dots__dot"></span>
      <span class="dots__dot"></span>
    </div>
  </div>
  <div class="container-right">
    <div class="swiper">
      <div class="cards swiper-wrapper">
        {{>card items=arrivals.items imagesPath=arrivals.imagesPath swiper=true}}
      </div>
    </div>
  </div>
</section>
