<section class="collection container">
  <div class="collection__row">
    <h2 class="collection__heading">Коллекции</h2>
  </div>

  <div class="collection__sets">
    <div class="collection-set__plate collection-set__plate--tall">
      <div class="collection-set__image">
        <picture>
          <source
            srcset="
              {{root}}img/collections/01.webp    1x,
              {{root}}img/collections/01@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="{{root}}img/collections/01.jpg"
            srcset="{{root}}img/collections/01@2x.jpg"
            alt="Головные наушники"
          />
        </picture>
      </div>
      <section class="collection-set__content collection-set__content--tall">
        <h3 class="collection-set__heading">Головные наушники</h3>
        <div class="collection-set__button">
          <button class="btn-txt btn-txt--s btn-txt--with-icon">
            Коллекция
            <svg class="svg-icons--arrow-right-dims">
              <use
                xlink:href="./img/svg/symbol.sprite.svg#icons--arrow-right"
              ></use>
            </svg>
          </button>
        </div>
      </section>
    </div>
    <div class="collection-set__plate">
      <div class="collection-set__image">
        <picture>
          <source
            srcset="
              {{root}}img/collections/02.webp    1x,
              {{root}}img/collections/02@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="{{root}}img/collections/02.jpg"
            srcset="{{root}}img/collections/02@2x.jpg"
            alt="Наушники"
          />
        </picture>
      </div>
      <section class="collection-set__content collection-set__content--plate">
        <h3 class="collection-set__heading">Наушники</h3>
        <div class="collection-set__button">
          <button class="btn-txt btn-txt--s btn-txt--with-icon">
            Коллекция
            <svg class="svg-icons--arrow-right-dims">
              <use
                xlink:href="./img/svg/symbol.sprite.svg#icons--arrow-right"
              ></use>
            </svg>
          </button>
        </div>
      </section>
    </div>
    <div class="collection-set__plate">
      <div class="collection-set__image">
        <picture>
          <source
            srcset="
              {{root}}img/collections/03.webp    1x,
              {{root}}img/collections/03@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="{{root}}img/collections/03.jpg"
            srcset="{{root}}img/collections/03@2x.jpg"
            alt="Аксессуары"
          />
        </picture>
      </div>
      <section class="collection-set__content collection-set__content--plate">
        <h3 class="collection-set__heading">Аксессуары</h3>
        <div class="collection-set__button">
          <button class="btn-txt btn-txt--s btn-txt--with-icon">
            Коллекция
            <svg class="svg-icons--arrow-right-dims">
              <use
                xlink:href="./img/svg/symbol.sprite.svg#icons--arrow-right"
              ></use>
            </svg>
          </button>
        </div>
      </section>
    </div>
  </div>
</section>
