<section class="counter">
  <div class="counter__image">
    <!-- <picture>
      <source
        srcset="
          {{root}}img/promotion/bg.webp    1x,
          {{root}}img/promotion/bg@2x.webp 2x
        "
      />
      <img
        src="{{root}}img/promotion/bg.jpg 1x"
        srcset="{{root}}img/promotion/bg@2x.jpg 2x"
        alt="Задник обратного отсчёта"
      />
    </picture> -->
  </div>
  <div class="counter__content-back">
    <div class="counter__content">
      <div class="counter__text-wrap">
        <h5 class="counter__header">Промо</h5>
        <h6 class="counter__subheader">Торопись! 40% скидка</h6>
        <p class="counter__text">Тысячи технических штук ждут тебя</p>
      </div>
      <div class="counter__countdown">
        <p class="counter__countdown-header">Предложение действительно:</p>
        <div class="counter__numbers">
          <div class="counter__number">
            <div class="counter__number-back">
              <div class="counter__num">02</div>
            </div>
            <p class="counter__number-text">Дня</p>
          </div>
          <div class="counter__number">
            <div class="counter__number-back">
              <div class="counter__num">12</div>
            </div>
            <p class="counter__number-text">Часов</p>
          </div>
          <div class="counter__number">
            <div class="counter__number-back">
              <div class="counter__num">45</div>
            </div>
            <p class="counter__number-text">Минут</p>
          </div>
          <div class="counter__number">
            <div class="counter__number-back">
              <div class="counter__num">05</div>
            </div>
            <p class="counter__number-text">Секунд</p>
          </div>
        </div>
      </div>

      <div class="counter__button">
        <button class="btn btn--s">Купить сейчас</button>
      </div>
    </div>
  </div>
</section>
