<footer class="footer">
  <div class="footer__back">
    <div class="container">
      <div class="footer__row">
        <div class="footer__logo">
          <a class="footer__logo-link" href="#!">
            <h4 class="footer__header-logo">3legant</h4>
          </a>
          <hr class="footer__vr" />
          <p class="footer__subheader">Магазин наушников</p>
        </div>
        <nav>
          <ul class="footer__list">
            <li><a class="footer__list-link" href="#!">Домой</a></li>
            <li><a class="footer__list-link" href="#!">Магазин</a></li>
            <li><a class="footer__list-link" href="#!">Продукт</a></li>
            <li><a class="footer__list-link" href="#!">Блог</a></li>
            <li><a class="footer__list-link" href="#!">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__row footer__row--bottom">
        <div class="footer__copyright">
          <p class="footer__copyright-rights">Copyright © 2023 3legant. Все права защищены</p>
          <p><a class="footer__copyright-link" href="#!">Договор оферты</a></p>
          <p><a class="footer__copyright-link" href="#!">Условия использования</a></p>
        </div>
        <div class="footer__social">
          <a href="#!">
            <svg class="footer__icon svg-socials--instagram-dims">
              <use xlink:href="{{root}}img/svg/symbol.sprite.svg#socials--instagram"></use>
            </svg>
          </a>
          <a href="#!">
            <svg class="footer__icon svg-socials--facebook-dims">
              <use xlink:href="{{root}}img/svg/symbol.sprite.svg#socials--facebook"></use>
            </svg>
          </a>
          <a href="#!">
            <svg class="footer__icon svg-socials--youtube-dims">
              <use xlink:href="{{root}}img/svg/symbol.sprite.svg#socials--youtube"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
