<section class="menu-mobile" aria-hidden="true">
  <div class="menu-mobile__overlay">
    <div class="menu-mobile__container">
      <div class="menu-mobile__row">
        <div>
          <a class="menu-mobile__logo" href="#!">3elegant<span>.</span></a>
        </div>
        <div>
          <button
            class="menu-mobile__close"
            aria-label="Закрыть основное меню"
          >
            <svg class="svg-icons--close-dims">
              <use
                xlink:href="{{root}}img/svg/symbol.sprite.svg#icons--close"
              ></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="m-search">
        <svg class="svg-icons--search-dims">
          <use
            xlink:href="{{root}}img/svg/symbol.sprite.svg#icons--search"
          ></use>
        </svg>
        <input
          class="m-search__input"
          type="search"
          name="search"
          id="search"
          placeholder="Поиск"
        />
      </div>
      <nav>
        <ul class="m-nav__list">
          <li class="m-nav__item">
            <a class="m-nav__link" href="#!">Домой</a>
          </li>
          <li class="m-nav__item m-nav__item--has-children">
            <a class="m-nav__link" href="#!">Магазин</a>
            <div class="m-nav__expander" tabindex="0" aria-label="Раскрыть меню - магазин"></div>
          </li>
          <li class="m-nav__item m-nav__item--has-children">
            <a class="m-nav__link" href="#!">Продукт</a>
            <div class="m-nav__expander" tabindex="0" aria-label="Раскрыть меню - продукт"></div>
          </li>
          <li class="m-nav__item">
            <a class="m-nav__link" href="#!">Контакты</a>
          </li>
        </ul>
      </nav>

      <nav class="m-user">
        <ul class="m-user__list">
          <li class="m-user__item">
            <a
              class="m-user__link"
              href="#!"
              class="menu-mobile__user-link"
              aria-label="Корзина"
              >Корзина
              <div class="m-user__btn-wrap">
                <svg class="svg-icons--cart-dims" aria-hidden="true">
                  <use
                    xlink:href="./img/svg/symbol.sprite.svg#icons--cart"
                  ></use>
                </svg>
                <span class="m-user__badge">2</span>
              </div>
            </a>
          </li>
          <li class="m-user__item">
            <a
              class="m-user__link"
              href="#!"
              class="menu-mobile__user-link"
              aria-label="Список понравившегося"
              >Понравилось
              <div class="m-user__btn-wrap">
                <svg class="svg-icons--fav-dims" aria-hidden="true">
                  <use
                    xlink:href="./img/svg/symbol.sprite.svg#icons--fav"
                  ></use>
                </svg>
                <span class="m-user__badge">2</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>

      <button class="m-signin btn">Войти</button>

      <div class="m-social">
        <a class="m-social__link" href="#!" aria-label="Инстаграм">
          <svg class="m-social__icon svg-socials--instagram-dims" aria-hidden="true">
            <use xlink:href="{{root}}img/svg/symbol.sprite.svg#socials--instagram"></use>
          </svg>
        </a>
        <a class="m-social__link" href="#!" aria-label="Фейсбук">
          <svg class="m-social__icon svg-socials--facebook-dims" aria-hidden="true">
            <use xlink:href="{{root}}img/svg/symbol.sprite.svg#socials--facebook"></use>
          </svg>
        </a>
        <a class="m-social__link" href="#!" aria-label="Ютуб">
          <svg class="m-social__icon svg-socials--youtube-dims" aria-hidden="true">
            <use xlink:href="{{root}}img/svg/symbol.sprite.svg#socials--youtube"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
