<section class="menu-mobile" aria-hidden="true">
  <div class="menu-mobile__overlay">
    <div class="menu-mobile__container">
      <div class="menu-mobile__row">
        <p>Here's menu</p>
        <button class="menu-mobile__close" aria-label="Закрыть основное меню.">
          <svg class="svg-icons--close-dims">
            <use
              xlink:href="{{root}}img/svg/symbol.sprite.svg#icons--close"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
