<section class="newsletter">
  <div class="newsletter__back">
    <div class="container">
      <div class="newsletter__content">
        <h4 class="newsletter__heading">Присоединяйся к рассылке</h4>
        <p class="newsletter__subheading">Узнай о наших акциях первым</p>
        <div class="newsletter__form-wrapper">
          <form action="/" class="newsletter-form">
            <label for="newsletter-email" class="newsletter-form__label">
              <svg class="svg-icons--email-dims newsletter-form__icon">
                <use
                  xlink:href="{{root}}img/svg/symbol.sprite.svg#icons--email"
                ></use>
              </svg>
            </label>
            <input type="email" name="newsletter-email" id="newsletter-email" class="newsletter-form__input" placeholder="email адрес" />
            <button class="btn-txt btn-txt--s newsletter-form__button">Подписаться</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
