<div class="tagline">
  <div class="tagline__content">
    <div class="tagline__icon d-sm-none">
      <svg class="svg-icons--ticket-percent-dims">
        <use
          xlink:href="./img/svg/symbol.sprite.svg#icons--ticket-percent"
        ></use>
      </svg>
    </div>

    <div class="tagline__text">
      <p>30% Скидка на ВСЁ — ограниченное предложение!</p>
    </div>

    <a href="#!" class="tagline__buy-now d-sm-none">
      <p>Купить Сейчас</p>
      <svg class="svg-icons--arrow-right-dims">
        <use xlink:href="./img/svg/symbol.sprite.svg#icons--arrow-right"></use>
      </svg>
    </a>
  </div>

  <button class="tagline__close">
    <svg class="svg-icons--close-dims">
      <use xlink:href="./img/svg/symbol.sprite.svg#icons--close"></use>
    </svg>
  </button>
</div>
