<div class="container">
  <div class="values">
    <div class="values__item">
      <svg class="values__icon svg-values--shipping-dims">
        <use xlink:href="{{root}}img/svg/symbol.sprite.svg#values--shipping"></use>
      </svg>
      <p class="values__heading">Бесплатная доставка</p>
      <p class="values__subheading">Заказ более 3000 ₽</p>
    </div>
    <div class="values__item">
      <svg class="values__icon svg-values--finance-dims">
        <use xlink:href="{{root}}img/svg/symbol.sprite.svg#values--finance"></use>
      </svg>
      <p class="values__heading">Возврат средств</p>
      <p class="values__subheading">Гарантия 30 дней</p>
    </div>
    <div class="values__item">
      <svg class="values__icon svg-values--lock-dims">
        <use xlink:href="{{root}}img/svg/symbol.sprite.svg#values--lock"></use>
      </svg>
      <p class="values__heading">Безопасная оплата</p>
      <p class="values__subheading">Оплата через Юкасса</p>
    </div>
    <div class="values__item">
      <svg class="values__icon svg-values--call-dims">
        <use xlink:href="{{root}}img/svg/symbol.sprite.svg#values--call"></use>
      </svg>
      <p class="values__heading">Поддержка 24/7</p>
      <p class="values__subheading">По телефону и по email</p>
    </div>
  </div>
</div>
