body {
  font-family: var(--font-main);
}

.container {
  max-width: var(--layout-width);
  padding: 0 var(--layout-padding);
  margin: 0 auto;
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: top;
}
