.container-right {
  padding-left: calc((100% - var(--layout-width))/2 + var(--layout-padding));

  @media (max-width: 1200px) {
    padding-left: var(--layout-padding);
  }
}

.container {
  max-width: var(--layout-width);
  padding: 0 var(--layout-padding);
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: top;
}
