$break-points: (
  "xxl": 1440,
  "xl": 1200,
  "md": 900,
  "sm": 600,
);

:root {

  --layout-padding: 32px;
  --layout-width: calc(1120px + var(--layout-padding) * 2);

  --font-main: "Inter", sans-serif;
  --font-accent: "Poppins", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;

  // Primary, secondary and neutral colors
  --clr-primary: #000;
  --clr-var-black: #121212;
  --clr-white: #fff;
  --clr-secondary-blue: #377DFF;
  --clr-secondary-orange: #FFAB00;
  --clr-secondary-green: #38CB89;
  --clr-secondary-orange-light: #FFC95C;
  --clr-neutral-07: #141718;
  --clr-neutral-04: #6C7275;
  --clr-neutral-03: #E8ECEF;
  --clr-neutral-02: #F3F5F7;
  --clr-neutral-01: #FEFEFE;

  // Colors by function
  --clr-text-light: #fff;
  // Buttons
  --clr-btn-focus-light: var(--clr-neutral-01);
  --clr-btn-primary: var(--clr-neutral-07);
  // Tagline
  --clr-tagline-back: var(--clr-neutral-07);
  --clr-buy-link: var(--clr-secondary-orange);
  // Main nav
  --clr-main-nav-back: var(--clr-secondary-orange-light);
  --clr-main-nav-text-dark: var(--clr-neutral-07);
  --clr-icons-black: var(--clr-neutral-07);
  --clr-main-nav-badge-back: var(--clr-neutral-07);
  --clr-main-nav-hamburger-active: #b89347;
  // Hero
  --clr-heading-accent: var(--clr-secondary-blue);
  // Card
  --card-min-width: #{rem(262)};
  --card-mini-width: #{rem(140)};
  --clr-card-image-back: var(--clr-neutral-02);
  --clr-card-like-back: var(--clr-white);
  --clr-card-like-stroke: var(--clr-neutral-04);
  --clr-card-like-fill: var(--clr-primary);
  --clr-card-text: var(--clr-neutral-07);
  // Badge
  --clr-badge-back-default: var(--clr-white);
  --clr-badge-text-dark: var(--clr-neutral-07);
  --clr-badge-text-light: var(--clr-text-light);
  --clr-badge-success: var(--clr-secondary-green);
  // Dots
  --clr-dots-inactive-back: var(--clr-neutral-04);
  --clr-dots-active: var(--clr-neutral-07);
  // Collections
  --clr-plate-back: var(--clr-neutral-02);
  // Counter
  --clr-counter-back: #260100;
  --clr-counter-text: var(--clr-var-black);
  // Values
  --clr-values-icon-stroke: var(--clr-neutral-07);
  --clr-values-back: var(--clr-neutral-02);
  --clr-values-heading: var(--clr-neutral-07);
  --clr-values-subheading: var(--clr-neutral-04);
  // Newsletter
  --clr-newsletter-back: #f2f4f6;
  --clr-newsletter-text: var(--clr-var-black);
  --clr-newsletter-form-text: var(--clr-neutral-04);
  --clr-newsletter-mail-icon: var(--clr-var-black);
  --clr-newsletter-form-underline: #A5A9AA;
  // Footer
  --clr-footer-back: var(--clr-neutral-07);
  --clr-specific-text: var(--clr-neutral-03);
  // Swiper
  --swiper-theme-color: var(--clr-neutral-07) !important;
  // Menu mobile
  --clr-menu-mobile-close: var(--clr-neutral-04);
}